
.container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  border: 1px solid lightblue;
  margin: 5px;
}

.title {
  border: 1px solid lightblue;
}

.avail {
  background-color: darkgray;
  color: yellow;
}
